header {
    background-color: #63c5da;
    padding: 12px 24px;
    font-weight: bold;
    display: flex;
    justify-content: left;
    gap: 40px;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 3rem;
    font-family: monospace;
    font-size: 20px;
}

header .link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

header .link:hover {
    color: #241571;
}

/* main {
    max-width: 1280px;
    min-width: 320px;
    margin: 0px auto;
} */

footer {
    background-color: #45505e;
    color: white;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    height: 2rem;
    width: 100%;
    font-family: monospace;
}