html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #CAEEFF;
}


#root {
  /* margin: 0; */
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
    width: 100%; /* full width */
    max-width: 960px;
    margin: 0 auto;
    flex: 1;
}

h2 {
    font-size: 2.2rem;
    color: #45505e;
    text-align: center;
    font-family: monospace;
}

.reviewContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    
}