.video {
    border-radius: 50px;
    /* border: 2px solid black; */
    width: 320px;
    height: 240px;
    
}

button {
    image-rendering: pixelated;
    background-color: #63c5da;
    margin: 10px;
    padding: 15px 25px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-family: monospace;
    color: white;
}

button:hover {
    color: #241571;
}